<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/liststyle.css' />
  </head>
    <h1 id="usageTitle"><%= title %></h1>
    <body>

      <div class="wrapperList">
        
        <div class="report_form">
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Total Education Usage</th>
                <th>Total Shopping Usage</th>
                <th>Total Searching / Browsing Usage</th>
                <th>Total Social Media Usage</th>
              </tr>

              <tbody>
                <tr>
                  <td id="td_duration_education"><%= reportlist[0].total_education %>min</td>
                  <td id="td_duration_shopping"><%= reportlist[0].total_shopping %>min</td>
                  <td id="td_duration_search"><%= reportlist[0].total_searchbrowsing %>min</td>
                  <td id="td_duration_socialmedia"><%= reportlist[0].total_socialmedia %>min</td>
                </tr>
              </tbody>
            </thead>
          </table>
          
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Average Education Usage</th>
                <th>Average Shopping Usage</th>
                <th>Average Searching / Browsing Usage</th>
                <th>Average Social Media Usage</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td id="td_duration_education"><%= reportlist[0].avg_education %>min</td>
                <td id="td_duration_shopping"><%= reportlist[0].avg_shopping %>min</td>
                <td id="td_duration_search"><%= reportlist[0].avg_searchbrowsing %>min</td>
                <td id="td_duration_socialmedia"><%= reportlist[0].avg_socialmedia %>min</td>
              </tr>
            </tbody>
          </table>


        <div class="report_div">
          <legend>Create Report</legend>
            <form id="report-form" action="/reports/write" method="post">
              <textarea name="comment" id="comment" rows="6" cols="45" onclick="document.getElementById('comment').value = '';">Please enter comments</textarea><br>
                <input name="name" value="<%=reportlist[0].name%>" type="hidden"></input>
                <input name="date_from" value="<%=reportlist[0].date_from%>" type="hidden"></input>
                <input name="date_to" value="<%=reportlist[0].date_to%>" type="hidden"></input>
                <input name="total_education" value="<%=reportlist[0].total_education%>" type="hidden"></input>
                <input name="total_shopping" value="<%=reportlist[0].total_shopping%>" type="hidden"></input>
                <input name="total_searchbrowsing" value="<%=reportlist[0].total_searchbrowsing%>" type="hidden"></input>
                <input name="total_socialmedia" value="<%=reportlist[0].total_socialmedia%>" type="hidden"></input>
                <input name="avg_education" value="<%=reportlist[0].avg_education%>" type="hidden"></input>
                <input name="avg_shopping" value="<%=reportlist[0].avg_shopping%>" type="hidden"></input>
                <input name="avg_searchbrowsing" value="<%=reportlist[0].avg_searchbrowsing%>" type="hidden"></input>
                <input name="avg_socialmedia" value="<%=reportlist[0].avg_socialmedia%>" type="hidden"></input>

              <button>Submit</button><br><br>
            </form>
        </div>

      <table class="table table-inverse">
          <thead>
            <tr>
              <th>Name</th>
              <th>Duration (Education)</th>
              <th>Duration (Shopping)</th>
              <th>Duration (Browsing)</th>
              <th>Duration (Social Media)</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
        </thead>

          <tbody>
            <% for(var i=0; i < userlist.length; i++) { %>
            <tr>
              <td id="td_name"><%= userlist[i].name %></td>
              <td id="td_duration_education"><%= userlist[i].duration_education %>min</td>
              <td id="td_duration_shopping"><%= userlist[i].duration_shopping %>min</td>
              <td id="td_duration_search"><%= userlist[i].duration_searchbrowsing %>min</td>
              <td id="td_duration_socialmedia"><%= userlist[i].duration_socialmedia %>min</td>
              <td id="td_date"><%= userlist[i].createdAt %></td>
              <td><a href="/usages/edit/<%=userlist[i].id%>">Edit</a>
              <a href="/usages/delete/<%=userlist[i].id%>" id="deleteButton">Delete</a></td> 
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</head>
</html>